<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Burgers</h1>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Nutriscore</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <% @burgers.each do |burger| %>
      <tr>
        <td><%= burger.code %></td>
        <td><%= burger.name %></td>
        <td><%= burger.price %></td>
        <td><%= burger.image %></td>
        <td><%= burger.nutriscore %></td>
        <td><%= link_to 'Show', burger %></td>
        <td><%= link_to 'Edit', edit_burger_path(burger) %></td>
        <td><%= link_to 'Destroy', burger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Burger', new_burger_path %>
</div>